@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

:root{
    background-color: rgba(54,56,66,1);
    color: white; 
    font-family: 'Fuzzy Bubbles', cursive;
}

/*Sidebar with a class styling*/
.sidebar{
    background-color: rgb(37, 38, 44);
    width: 200px;
    height: 100%;
    font-size: 10px;
    padding: 5px;
    border: 1px solid white;
}
.profile{
    position: relative;
    width: 100%;

}


.first-container{
    /*Create a continainer that shows in the center of the screen with border-radius of 20px*/
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    background-color: rgb(122, 125, 141);
    border: 1px solid white;
    padding: 20px;
    

    /* Animation section */
    animation: first-container 1s ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}