@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

:root{
    background-color: rgba(54,56,66,1);
    color: white; 
    font-family: 'Fuzzy Bubbles', cursive;
}

/*Sidebar with a class styling*/
.sidebar{
    position: absolute;
    background-color: rgb(37, 38, 44);
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    font-size: 10px;
    padding: 5px;
    border: 1px solid white;
}
.profile{
    position: relative;
    width: 100%;
}


.first-container{
    /*Create a container that is in the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: rgb(76, 79, 95);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
}