@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

:root{
    background-color: rgba(54,56,66,1);
    color: white; 
    font-family: 'Fuzzy Bubbles', cursive;
}

.first-container{
    /*Create a continainer that shows in the center of the screen with border-radius of 20px*/
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    background-color: rgba(54,56,66,1);
    border: 1px solid white;
    padding: 20px;
    
}